<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CapitaniaDbModel" connectionString="data source=bifrost;initial catalog=db_capitania_prd;persist security info=True;user id=sa;password=iso9000;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>