<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CapitaniaDbModel" connectionString="data source=rds01.capitania.net;initial catalog=db_capitania_prd;persist security info=True;user id=admincapitania;password=B70fB$cHq3mO;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DbTemp" connectionString="data source=bifrost;initial catalog=db_capitania_prd;persist security info=True;user id=sa;password=iso9000;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DbTemp1" connectionString="data source=bifrost;initial catalog=db_capitania_prd;persist security info=True;user id=sa;password=iso9000;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ModelTest" connectionString="data source=Bifrost;initial catalog=db_capitania_prd;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ModelDoCacete" connectionString="data source=bifrost;initial catalog=db_capitania_prd;persist security info=True;user id=sa;password=iso9000;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="db_capitania_prdEntities" connectionString="metadata=res://*/EntityFrameworkCore.Caralho.csdl|res://*/EntityFrameworkCore.Caralho.ssdl|res://*/EntityFrameworkCore.Caralho.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bifrost;initial catalog=db_capitania_prd;persist security info=True;user id=sa;password=iso9000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelTemp" connectionString="data source=Bifrost;initial catalog=db_capitania_prd;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ModeTemp" connectionString="data source=Bifrost;initial catalog=db_capitania_prd;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ModelTemp1" connectionString="data source=Bifrost;initial catalog=db_capitania_prd;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>