<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="ConexaoDB" value="CapitaniaDbModel" />
  </appSettings>
  <connectionStrings>
    <add name="CapitaniaDbModel" connectionString="data source=s14\SQLSTD2019;initial catalog=db_capitania_prd;persist security info=True;user id=sa;password=DS!2002nt;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
